@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
    background-color: #D3D3D3;
    color: #5A5A5A;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
}